body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
  text-decoration: none;
}

.weather-app {
  background-color: #ffff;
  display: block;
  margin: 45px auto;
  max-width: 600px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

input {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
.search-form-input {
  background-color: #f9f7fe;
  width: 80%;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.4);
}

.search-form-submit {
  background-color: #885df1;
  color: #ffff;
  width: 19%;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-temperature-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-app-icon {
  width: 88px;
  height: 44px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.weather-forecast-day {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  color: rgb(246, 82, 130);
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
